@import url('../../styles/variables.css');

.calculator__display {
  width: 250px;
  height: 50px;
  padding: 10px;
  text-align: right;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
}